@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    transition: all 0.3s ease;
}
:root{
    --white:#fff;
    --black: #24292d;
    --nav-main: #4070f4;
    --switcher-main: #0b3cc1;
    --light-bg: #f0f8ff;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: var(--nav-main);
    box-shadow: 0 5px 10px rgb(193, 174, 174);
}

nav .navbar{
    height: 100%;
    display: flex;
    max-width: 1300px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 30px;
}

.navbar a{
font-size: 30px;
font-weight: 500;
color: var(--white);
text-decoration: none;
} 

nav .navlinks{
    display: flex;
}

.navbar .navlinks li {
    list-style-type: none;
    margin: 0 8px;
    
}

.navbar .navlinks li a{
    font-size: 18px;
    font-weight: 400;
    opacity: 0.9;
}

.navbar .navlinks li a:hover {
    opacity: 2;
}

.navbar .appearance{
    display: flex;
    align-items: center;

}

.appearance .light-dark, 
.appearance .color-icon .icons {
height: 50px;
width: 50px;
text-align: center;
line-height: 50px;
color: var(--white);
margin: 0 10px;
font-size: 20px;
border-radius: 7px;
background-color: var(--switcher-main);
opacity: 0.8;
cursor: pointer;
}

.appearance .color-icon{
    position: relative;
}
.appearance .color-icon .icons {
    width: 70px;
}

.appearance .light-dark, 
.appearance .color-icon .icons:hover{
opacity: 2;
}

.appearance .color-icon .color-box{
    position: absolute;
    bottom: -133px;
    right: 0;
    min-height: 100px;
    background: var(--white);
    padding: 20px 20px 20px 20px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(184, 182, 182);
    opacity: 0;
    pointer-events: none;
}

.color-icon.open .color-box{
opacity: 1;
pointer-events: auto;
}

.color-icon.open .arrow{
    transform: rotate(-180deg);
}

.color-icon .color-box::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background:var(--white);
    border-radius: 50%;
    right: 20px;
    top: -10px;
}

.color-icon .color-box h3{
    display: inline-block;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

.color-box .color-switchers {
    display: flex;
}
.color-box .color-switchers .btn{
    display: inline-block;
    height: 40px;
    width: 40px;
    outline: none;
    border: none;
    border-radius: 50%;
    background: var(--nav-main);
    margin: 0 5px;
}

.color-switchers .btn.active{
     box-shadow: 0 0 0 2px #fff,
    0 0 0 4px var(--nav-main);
}

.color-switchers .btn.orange{
    background: orange;
}
.color-switchers .btn.orange.active{
    box-shadow: 0 0 0 2px #fff,
   0 0 0 4px orange;
}

.color-switchers .btn.purple{
    background: purple;
}
.color-switchers .btn.purple.active{
    box-shadow: 0 0 0 2px #fff,
   0 0 0 4px purple;
}
.color-switchers .btn.green{
    background: green;
}
.color-switchers .btn.green.active{
    box-shadow: 0 0 0 2px #fff,
   0 0 0 4px green;
}

.home-content{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    background: var(--light-bg);
}

.home-content h2{
    font-size: 40px;
    color: var(--black);
}
.home-content h3{
    font-size: 30px;
    color: var(--black);
}

.home-content h3 span.darkMode{
    color: var(--black);
}
.home-content h3 span{
    color: var(--nav-main);
}

.home-content p{
    font-size: 14px;
    width: 40%;
    margin-bottom: 30px;
    color: var(--black);
}

.home-content a{
    font-size: 20px;
    padding: 12px 24px;
    color: var(--white);
    background: var(--switcher-main);
    text-decoration: none;
    border-radius: 6px;
}
.home-content i{
    transform: rotate(45deg);
}
.home-content a:hover{
    background: var(--nav-main);
}
@media (max-width:1100px) {
    .home-content p{
        width: 70%;
    }   
}